@font-face {
    font-family: 'Buffalo';
    src: url('./fonts/buffalo/Buffalo.ttf') format('truetype'); /* Adjust the path as needed */
    }
    @font-face {
    font-family: 'Libre Baskerville';
    src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype'); /* Adjust the path as needed */
    }
    @media (min-width: 768px) {
        .m-md-3 {
            margin: 0rem !important;
        }
    }
    /* Add spacing to each column */
    .skills2 .col {
        margin-bottom: 1.5rem; /* Adjust the spacing as needed */
    }

    .skills2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
        
    }
    .work-experience{
        
        /*background-color: #DCE2E4;*/
        height: 40vh;
       
    }
    .education{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color: #DCE2E4;
    }
    .header-education{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 60vh;
        background-image: url(./images/website-04.jpg);
        background-size: cover; /* Ensures the image covers the entire viewport */
        background-position: center;
        background-repeat: no-repeat;
    }
    .header-work-experience{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 60vh;
        background-image: url(./images/website-03.jpg);
        background-size: auto; /* Ensures the image covers the entire viewport */
        background-position: center;
        background-repeat: no-repeat;
    }
    .header-skills{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 60vh;
        background-image: url(./images/website-02.jpg);
        background-size: cover; /* Ensures the image covers the entire viewport */
        background-position: center;
        background-repeat: no-repeat;
    }
    .title{
        height: 100vh;
        background-image: url(./images/website-01.jpg);
        background-size: cover; /* Ensures the image covers the entire viewport */
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Sets height to the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .hello{
        height: 100vh;
        background-image: url(./images/white_bg.jpg);
        background-size: cover; /* Ensures the image covers the entire viewport */
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Sets height to the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .title h1{
        font-size: 5rem;
        font-family: 'Buffalo'; 
        color: black;
        text-align: center;
        margin-bottom: 40px;
    }
    .centered-div{
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Changes vertical alignment from center */
        height: 60vh;
       
    }
    .profile-photo{
        width: 50%;
        border-radius: 50%;
    }
    .container-work{
        margin: 3rem;
    }
    .container-work{
        height: 30vh;
    }
    .container{
        height: 100vh;
    }
    .profile-section p{
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 1.0rem;
    }
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64vh;
        background-color: #DCE2E4;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36vh;
        background-color: #808C9B;
    }
    .skills-img{
        width: 6rem;
        height: 6rem;
        margin: 1.5rem;
        border-radius: 50%;
        margin-left: 4rem;
        margin-right: 4rem;
    }